.sideBar_container{
    width: 93px;
    height: 715px;
    background-color: #53D7D73D;
    float: left;
}
.sideBar_container:hover{
    width: 186px;
}
.sideBar_links img{
margin-top: 29px;
margin-left: 21px;
}
.icons{
    // background-image: url(images/img8.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
